.featured-heading{
    margin-left: 10px;
    margin-top: 5px;
    color: #192f60;
    font-size:25px;
    line-height: 1.5;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: 4px solid #e6e6e6 ;
}

.featured-container{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}


.featured {
    height: 190px;
    width: 190px;
    margin: 25px 10px;
    margin-bottom: 40px; 
}


.featured .featured-image {
    height: 190px;
    width: 190px;
    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px #3d2173a1;
    transition: all ease 0.4s;

}


.featured .featured-image:hover{
    box-shadow: none;
    transform: scale(0.98) translateY(5px);
}

.featured-name {
    font-weight: 700;
    margin-top: 15px;
    font-family: Open sans;
    text-align: center;
}

