.navbar-brand{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: x-large;
   
}
.bg-dark{
    background-color: #04204e !important;
}
#logout{
    color: black;
	background-color: white;
	border-radius: 7px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
}
#logout:hover{
    cursor: pointer;
	text-decoration: none;
	background-color:  #3f51b5;
	color: white;
}